
body {
    line-height: 1.5rem;
    margin: 10px;
    padding: 10px;
   }


header {
    padding: 10px;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
    background: rgba(85, 105, 167, 0.65);
    line-height: 5;
    padding: 10px 10px;
    margin-left: 100px;
    transform: translateX(-130px) translateY(60px);
    display: inline-block;
    border-radius: 10px;
    font-size: 4em;
    line-height: 0.65em;
  }

  h3{
    padding: 10px 10px;
  }

footer {

    background: rgba(85, 105, 167, 0.65);
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 10px;
  }

  footer p {
    color: #fff;
    }

    nav ul{
        list-style-type: none;
        padding: 5px;
        display: inline-block;
        display: flex; /*horizontal menu*/
       
    }
    
    nav a{
        text-decoration: none;
        background: rgba(85, 105, 167, 0.65);
        padding: 10px;
        display: block;
        color: #fff;
        border-top: 3px solid transparent;
    }
    
    nav li{
        margin: 1px;
        display: inline;
    }
    
    nav ul li a:hover{
        background: #fff;
        color:#000;
        border-top: 3px solid #ce71c9;
    }

    main {
      display: flex;
      flex-flow: row wrap;
    }

    section {
      flex: 1 1 25%;
      padding: 10px;
      background-color: rgb(227, 211, 230);
      border: #000;
      border-radius: 20px;
    }

      @media only screen and (max-width: 850px){
        h1 {
        transform: translateX(0) translateY(0);
        margin-left: 0;
        } 
        img {
            width: 100%;
            height: auto;
          }
         }

       
         @media only screen and (max-width: 700px) {
             main {
               display: block;

            }
           }